In [1]:
import pandas as pd
import re
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("candidatos_y_puestos.csv")
df

,CV del Candidato,Descripción del Puesto
0,**Candidato:** Zaira Blasco-Becerra\n**Edad:**...,**Puesto:** Técnico de Radiología\n**Empresa:*...
1,**Candidato:** Marcio Rincón-Morata\n**Edad:**...,**Puesto:** Especialista en Desarrollo de Vide...
2,**Candidato:** Cristian Quintero Machado\n**Ed...,**Puesto:** Especialista en Salud Ocupacional\...
3,**Candidato:** Ágata de Vilalta\n**Edad:** 32 ...,**Puesto:** Especialista en Innovación y Desar...
4,**Candidato:** Nazaret Córdoba Cervera\n**Edad...,**Puesto:** Agronomo\n**Empresa:** Finanzas Dí...
...,...,...
199995,**Candidato:** Ricardo Moreno Guardia Almansa\...,**Puesto:** Científico de Datos\n**Empresa:** ...
199996,**Candidato:** Maximiliano Gárate\n**Edad:** 5...,**Puesto:** Especialista en SEO\n**Empresa:** ...
199997,**Candidato:** Leocadio Alberola Chaparro\n**E...,**Puesto:** Técnico de Radiología\n**Empresa:*...
199998,**Candidato:** Felix del Gálvez\n**Edad:** 34 ...,**Puesto:** Especialista en Seguridad Industri...
199999,**Candidato:** Genoveva Bernad Asenjo\n**Edad:...,**Puesto:** Ingeniero de Redes\n**Empresa:** F...

* Aca lo que haremos es quitar de las filas las palabras repetidas que se encuentran en nuestro csv como por ejeplo
"candidato", "puesto_descripcion".

In [5]:

df['cv'] = df['cv'].str.replace('candidato', '', regex=False).str.strip()
df['puesto_descripcion'] = df['puesto_descripcion'].str.replace('puesto', '', regex=False).str.strip()

# Guardar el resultado
df.to_csv('candidatos_y_puestos_limpio.csv', index=False)

In [8]:
df_limpio = pd.read_csv("candidatos_y_puestos_limpio.csv")
df_limpio

,cv,puesto_descripcion
0,zaira blascobecerra edad sa anos resumen profe...,tecnico de radiologia empresa soluciones coll ...
1,marcio rinconmorata edad sg anos resumen profe...,especialista en desarrollo de videojuegos empr...
2,cristian quintero machado edad ao anos resumen...,especialista en salud ocupacional empresa farm...
3,agata de vilalta edad e2 anos resumen profesio...,especialista en innovacion y desarrollo empres...
4,nazaret cordoba cervera edad ao anos resumen p...,agronomo empresa finanzas diez asociados sa ub...
...,...,...
199995,ricardo moreno guardia almansa edad es anos re...,cientifico de datos empresa suministros plaza ...
199996,maximiliano garate edad sg anos resumen profes...,especialista en seo empresa hotel narvaez asoc...
199997,leocadio alberola chaparro edad ss anos resume...,tecnico de radiologia empresa transportes cont...
199998,felix del galvez edad ea anos resumen profesio...,especialista en seguridad industrial empresa a...
199999,genoveva bernad asenjo edad ss anos resumen pr...,ingeniero de redes empresa familia jimenez sco...

In [9]:
df_limpio = df_limpio.drop_duplicates()

In [ ]:
df_limpio['puesto_descripcion'] = df_limpio['puesto_descripcion'].astype('category')

In [15]:
df_limpio['cv'] = df_limpio['cv'].astype('category')

In [16]:
df_limpio = df_limpio.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [17]:
df_limpio

,cv,puesto_descripcion
0,zaira blascobecerra edad sa anos resumen profe...,tecnico de radiologia empresa soluciones coll ...
1,marcio rinconmorata edad sg anos resumen profe...,especialista en desarrollo de videojuegos empr...
2,cristian quintero machado edad ao anos resumen...,especialista en salud ocupacional empresa farm...
3,agata de vilalta edad e2 anos resumen profesio...,especialista en innovacion y desarrollo empres...
4,nazaret cordoba cervera edad ao anos resumen p...,agronomo empresa finanzas diez asociados sa ub...
...,...,...
199995,ricardo moreno guardia almansa edad es anos re...,cientifico de datos empresa suministros plaza ...
199996,maximiliano garate edad sg anos resumen profes...,especialista en seo empresa hotel narvaez asoc...
199997,leocadio alberola chaparro edad ss anos resume...,tecnico de radiologia empresa transportes cont...
199998,felix del galvez edad ea anos resumen profesio...,especialista en seguridad industrial empresa a...
199999,genoveva bernad asenjo edad ss anos resumen pr...,ingeniero de redes empresa familia jimenez sco...

In [18]:
df_limpio.to_parquet('candidatos_y_puestos_limpio.parquet', engine='pyarrow')

buscar funciones generales para cada tipo de trqbajo para que el modelo pueda hacer una comparacion.

Limpieza a todo

In [5]:
import pandas as pd
import re
import unidecode

# Diccionario leetspeak
leet_dict = {
    "4": "a", "3": "e", "1": "i", "0": "o", "@": "a", "$": "s",
    "5": "s", "7": "t", "8": "b", "9": "g"
}

def normalizar_leet(texto):
    texto = texto.lower()
    for simbolo, letra in leet_dict.items():
        texto = texto.replace(simbolo, letra)
    return texto

def limpiar_texto(texto):
    if isinstance(texto, str):
        texto = unidecode.unidecode(texto)                  # quitar acentos
        texto = normalizar_leet(texto)                      # reemplazar leet
        texto = re.sub(r"[^a-zA-Z0-9\s]", "", texto)        # eliminar símbolos
        texto = re.sub(r"\s+", " ", texto).strip()          # limpiar espacios
        return texto
    return texto

# === LIMPIEZA GENERAL ===
df = pd.read_csv("candidatos_y_puestos.csv")
df_limpio = df.applymap(limpiar_texto)
df_limpio.to_csv("candidatos_y_puestos_limpio.csv", index=False)
print("Archivo limpio guardado")

/tmp/ipykernel_39873/2280706387.py:28: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_limpio = df.applymap(limpiar_texto)

Archivo limpio guardado

In [7]:
df_limpio = pd.read_csv("candidatos_y_puestos_limpio.csv")
df_limpio

,CV del Candidato,Descripción del Puesto
0,candidato zaira blascobecerra edad sa anos res...,puesto tecnico de radiologia empresa solucione...
1,candidato marcio rinconmorata edad sg anos res...,puesto especialista en desarrollo de videojueg...
2,candidato cristian quintero machado edad ao an...,puesto especialista en salud ocupacional empre...
3,candidato agata de vilalta edad e2 anos resume...,puesto especialista en innovacion y desarrollo...
4,candidato nazaret cordoba cervera edad ao anos...,puesto agronomo empresa finanzas diez asociado...
...,...,...
199995,candidato ricardo moreno guardia almansa edad ...,puesto cientifico de datos empresa suministros...
199996,candidato maximiliano garate edad sg anos resu...,puesto especialista en seo empresa hotel narva...
199997,candidato leocadio alberola chaparro edad ss a...,puesto tecnico de radiologia empresa transport...
199998,candidato felix del galvez edad ea anos resume...,puesto especialista en seguridad industrial em...
199999,candidato genoveva bernad asenjo edad ss anos ...,puesto ingeniero de redes empresa familia jime...

Este codigo hace correcion ortografica por bloques

In [ ]:
import pandas as pd
from textblob import TextBlob
import time
import os

ARCHIVO_ENTRADA = "training_data_traducido_limpio.csv"
ARCHIVO_SALIDA = "training_data_traducido_limpio_CORREGIDO.csv"
ARCHIVO_TEMP = "training_Progreso_Corregido.csv"
TAMANO_BLOQUE = 500
PAUSA_SEGUNDOS = 10

def corregir_ortografia(texto):
    try:
        return str(TextBlob(texto).correct())
    except:
        return texto

def procesar_celda(celda):
    return corregir_ortografia(celda)

# === CORRECCIÓN POR BLOQUES ===
if os.path.exists(ARCHIVO_TEMP):
    print("Reanudando desde archivo temporal...")
    df_corregido = pd.read_csv(ARCHIVO_TEMP)
    filas_procesadas = len(df_corregido)
else:
    print("Iniciando desde cero...")
    df_corregido = pd.DataFrame()
    filas_procesadas = 0

df = pd.read_csv(ARCHIVO_ENTRADA)
if "Descripción_length" in df.columns:
    df = df.drop(columns=["Descripción_length"])

total_filas = len(df)

while filas_procesadas < total_filas:
    fin = min(filas_procesadas + TAMANO_BLOQUE, total_filas)
    print(f"Corrigiendo filas {filas_procesadas} a {fin}...")

    bloque = df.iloc[filas_procesadas:fin].copy()
    bloque = bloque.applymap(procesar_celda)
    df_corregido = pd.concat([df_corregido, bloque], ignore_index=True)

    df_corregido.to_csv(ARCHIVO_TEMP, index=False)
    print(f"Progreso guardado: {ARCHIVO_TEMP}")

    filas_procesadas = fin
    if filas_procesadas < total_filas:
        print(f"Pausa de {PAUSA_SEGUNDOS} segundos...")
        time.sleep(PAUSA_SEGUNDOS)

df_corregido.to_csv(ARCHIVO_SALIDA, index=False)
print(f"Archivo final corregido guardado como: {ARCHIVO_SALIDA}")
os.remove(ARCHIVO_TEMP)

Iniciando desde cero...
Corrigiendo filas 0 a 500...

/tmp/ipykernel_17302/3460808003.py:42: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  bloque = bloque.applymap(procesar_celda)